body{
    padding: 0px; margin: 0px;
}
#board{
    width: 512px; height: 512px;
    display: inline-flex; flex-wrap: wrap;background-image: url("assets/board.png");
}
.box{
    width: 64px; height: 64px; font-size: smaller;
    display: flex;align-items: center;justify-content: center; cursor: pointer; background-color: transparent;
}
.chess_piece{
    width: 90%; height: 90%;
}
#blank_screen{
    position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 1; background-color: rgba(0, 0, 0, 0);
    display: none; justify-content: center;
}
#loading_image{
    width: 80px; height: 80px; padding-top: 40vh;
}
@media (orientation:landscape) {
    body{
        display: flex; height: 90vh; align-items: center; justify-content: center;
    }
}
@media (orientation:portrait){
    body{
        height: 100vh; padding-top: 40%;
    }
}