body{
    padding: 0px; margin: 0px;
}
#board{
    width: 512px; height: 512px;
    display: inline-flex; flex-wrap: wrap;background-image: url("assets/board.png");
}
.box{
    width: 64px; height: 64px; font-size: smaller;
    display: flex;align-items: center;justify-content: center; cursor: pointer; background-color: transparent;
}
.chess_piece{
    width: 90%; height: 90%;
}
#blank_screen{
    position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 1; background-color: rgba(0, 0, 0, 0);
    display: none; justify-content: center;
}
#loading_image{
    width: fit-content; height: fit-content; padding: 8px; background-color: rgba(255, 255, 255, 0.362); 
    color: black; font-size: larger; 
    margin-top: 40vh; display: flex; align-items: center; justify-content: center;
}
#anim{
    width: 30px; height: 30px; border: 6px grey solid; border-top-color: white; animation-name: anim_rotate;
    animation-duration: 1s; animation-iteration-count: infinite; border-radius: 50%; margin-right: 8px;
}
#blank_screen_2{
    position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 2; background-color: rgba(0, 0, 0, 0.244);
    display: none; justify-content: center; align-items: center;
}
#message{
    width: 300px; height: 300px; padding: 8px; background-color: white; display: flex; align-items: center; justify-content: center;
    font-size: larger; color: blue; flex-direction: column; border: 5px blue solid; background-image: url("assets/fireworks.gif");
    background-size: cover;
}
#inner_message{
    font-size: x-large; text-align: center;
}
#replay_button{
    margin-top: 25px;
}
@keyframes anim_rotate {
    to{transform: rotate(360deg);} from{transform: rotate(0deg);}
}
@media (orientation:landscape) {
    body{
        display: flex; height: 90vh; align-items: center; justify-content: center;
    }
}
@media (orientation:portrait){
    body{
        height: 100vh; padding-top: 40%;
    }
}